body{

background:linear-gradient(135deg,#009688,#43cea2);

min-height:100vh;

}

.card{

border-radius:20px;

overflow:hidden;

}

.card-header{

padding:30px;

}

input{

height:50px;

font-size:18px;

}

.btn{

height:55px;

font-size:20px;

border-radius:12px;

}

.alert{

border-radius:15px;

text-align:center;

animation:fade .5s;

}

#species{

font-size:30px;

font-weight:bold;

color:#198754;

}

#confidence{

font-size:20px;

}

@keyframes fade{

from{

opacity:0;
transform:translateY(20px);

}

to{

opacity:1;
transform:translateY(0);

}

}
